<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- 指定日志输出的地方 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{360} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="com.atguigu.atcrowdfunding.mapper" level="debug" additivity="false">  
         <appender-ref ref="STDOUT"/>  
     </logger>

	<!-- 日志：debug 从低到高；只会打印指定级别以后的 DEBUG==》INFO===》WARN===》ERROR <logger name="com.atguigu.atcrowdfunding.mapper" 
		level="debug" additivity="false"> <appender-ref ref="STDOUT"/> </logger> -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration> 
